{{#if user}}
	<h5>Welcome back {{user.username}}</h5>
	<ul class="alt">
		<li><a href="/{{user.type}}s/classes">My Classes</a></li>
		<li><a href="/users/logout">Logout</a></li>
	</ul>
{{else}}
<h4>Student & Instructor Login</h4>
<form action="/users/login" method="post">
	<label for="username">Username: </label>
	<input type="text" name="username" />
	<label for="password">Password: </label>
	<input type="password" name="password">
	<input type="submit" value="login" class="button">
</form>
{{/if}}